<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime  version="v4.0" sku=".NETFramework,Version=v4.5" />
    <requiredRuntime/>
  </startup>
  <system.web>
    <httpRuntime executionTimeout="600" maxRequestLength="951200"
  useFullyQualifiedRedirectUrl="true" minFreeThreads="8"
  minLocalRequestFreeThreads="4" appRequestQueueLimit="100"  enableVersionHeader="true"/>
  </system.web>
</configuration>

